<div class="container">
<div class="form-group">
  <label for="Form-name">Name:</label>
  <input type="text" class="form-control" id="Form-name" placeholder="Firstname Lastname">
</div>
<div class="form-group">
  <label for="Form-email">Email:</label>
  <input type="text" class="form-control" id="Form-email" placeholder="name@example.com">
</div>
<div class="form-group">
  <label for="Form-pwd">Password:</label>
  <input type="password" class="form-control" id="Form-pwd" placeholder="********">
</div>
<button type="submit" class="btn btn-primary">Sign Up</button>
</div>
 