
<div class="wrapper"><button class="btn btn-primary" type="submit" routerLink = ''> Home </button></div>
<div class="wrapper"><button class="btn btn-primary" type="submit" routerLink = 'expenses'> List Expenses </button></div>
<div class="wrapper"><button class="btn btn-primary" type="submit" routerLink = 'edit/0'> Add Expense </button></div>

<form>
        <button class="wrapper" type="button" routerLink = 'login' data-toggle="modal" data-target="#modalLoginForm">  Login </button>
        <button class="wrapper" type="button" routerLink = 'register' data-toggle="modal" data-target="#modalRegisterForm">  Register </button>
</form>

<router-outlet></router-outlet>
